# 以下均为绝对路径
# 等号左右不得有空格
# 目录末端不能有 "/"

# 总工作目录
start_path=/**PATH**/workplace
# 数据库路径
Database=/**PATH**/database
# TRINOTATE 路径
TRINOTATE_HOME=/**PATH**/software/Trinotate-v3.1.1
# TRINOTATE 数据库名称
TRINOTATE_version=Trinotate20180801
# TRINITY_HOME 路径
TRINITY_HOME=/**PATH**/miniconda2/opt/trinity-2.5.1
# TRANSDECODER 路径
TRANSDECODER_DIR=/**PATH**/miniconda2/opt/transdecoder
# uniprot_sprot 数据库
SWISSPROT_PEP=/**PATH**/database/Trinotate/uniprot_sprot.pep
# Pfam-A 数据库
PFAM_DB=/**PATH**/database/Trinotate/Pfam-A.hmm
# 确定最优 Kmer 后修改
Kmer=43